#navbar {
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 999;
  transition: .3s ease;
  border: 1px solid rgba(255, 255, 255, 0);
}

#navbar.moved{
  margin: 10px;

  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#navbar .links {
  display: flex;
  gap: 15px;
  font-size: 25px;
  margin-left: auto;
  margin-right: 20px;
}

#navbar .links .button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 40px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: .3s ease;
}

#navbar .links .button:hover{
  border-color: var(--main-color);
}

#navbar .links .button.active {
  box-shadow: 0 0 10px var(--main-color);
  border-color: var(--main-color);
  color: var(--main-color);
}

#navbar .links .button.active svg {
  filter: drop-shadow(0 0 3px var(--main-color));
}