:root{
  --bg-color: #1a222b;
  --main-color: #1bc3b9;
}

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}
